html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
  overflow-x: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1800px;
  /*так как мы отняли по 15 пикс по бокам, чтобы контент не прилипал*/
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-orange: #FF9900;
}

.section__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff"),
    url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat/Montserrat-Medium.woff2') format("woff2"),
    url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"),
    url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/*header*/
.header {
  background-color: var(--color-white);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  padding-top: 12px;
  padding-bottom: 11px;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: nowrap;
  flex-grow: 0;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.header__logo {
  margin-right: auto;
  flex-shrink: 1;
  flex-basis: 29%;
}

.header__btn-search {
  border: 0;
  background-color: var(--color-white);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  fill: var(--color-black);
  stroke: var(--color-black);
  stroke-width: 2px;
  margin-left: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.header__btn-search:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

.header__btn-search:hover:not(:focus-visible) {
  stroke: var(--color-orange);
}

.header__btn-search:active:not(:focus-visible),
.header__btn-search:active {
  stroke: var(--color-orange);
}

.nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.nav__link {
  transition-property: color, outline;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.nav__link:focus-visible {
  outline: 1px solid var(--color-orange);
  outline-offset: 5px;
}

.nav__link:hover:not(:focus-visible)::after {
  transform: scaleX(1);
}

.nav__link:active:not(:focus-visible)::after {
  transform: scaleX(1);
  background-color: #E1670E;
  transition: .3s ease-in-out;
}

.nav__link:active {
  color: #E1670E;
  transition: .3s ease-in-out;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.search-form {
  width: 539px;
  max-width: 539px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: -100px;
  opacity: 0;
  padding: 16px 32px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transition: top .5s, opacity .5s;
}

.search-form_show {
  top: 10px;
  opacity: 1;
}

.search-form__input {
  padding: 8px 14px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #CACACA;
  width: 80%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
}

.search-form__input:focus {
  outline: none;
  border-color: var(--color-orange);
}

.search-form__input {
  margin-right: auto;
}

.search-form__send {
  margin-right: 20px;
}

.search-form__close {
  border: 0;
  background-color: var(--color-white);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  fill: #CACACA;
  stroke: #CACACA;
  stroke-width: 2px;
}

.search-form__close:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

.search-form__close:hover:not(:focus-visible) {
  stroke: var(--color-orange);
}

.search-form__close:active:not(:focus-visible),
.search-form__close:active {
  stroke: var(--color-black);
}

.search-form__close svg rect {
  fill: #CACACA;
}

.search-form__close:hover svg rect {
  fill: var(--color-orange);
}

.search-form__close:active svg rect {
  fill: var(--color-black);
}


/*project*/

.hero__content {
  position: relative;
  z-index: 1;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swiper.hero__swiper {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
}

.hero__pagination.swiper-bullet-pagination {
z-index: 2;
position: absolute;
display: flex;
justify-content: center;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.slide1 {
  background-image: url(../img/project1.jpg);
}
.slide2 {
  background-image: url(../img/project2.jpg);
}
.slide3 {
  background-image: url(../img/project3.jpg);
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #CACACA !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white) !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 19px 10px !important;
}

/*.swiper {
  height: 620px;
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px !important;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background: white !important;
}*/


.project {
  padding-bottom: 25px;
  padding-top: 50px;
}

/*.project-img {
  position: absolute;
}*/

/*.project__box {
  background-image: url(../img/project-first.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}*/

.project__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
  max-width: 55%;
  margin: 0;
  margin-bottom: 24px;
}

.project__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 90px;
  max-width: 55%;
}

.project__button {
  background-color: var(--color-orange);
  border-radius: 16px;
  border-color: var(--color-orange);
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 24px 39px 25px 39px;
  transition-property: background-color, outline;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.project__button:focus-visible {
  background-color: #FFB84D;
  outline: #FFB84D;
}

.project__button:hover:not(:focus-visible) {
  background-color: #FFB84D;
  outline: #FFB84D;
}

.project__button:active:not(:focus-visible),
.project__button:active {
  background-color: #E1670E;
  border: #E1670E;
}

/*about us*/

.about-us {
  padding-bottom: 50px;
  padding-top: 25px;
}

.about-us__section-title {
  margin-bottom: 20px;
}

.about-us__section {
  margin-bottom: 51px;
}

.about-us__section-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  max-width: 1235px;
  margin: 0;
}

.about-us__blocks {
  display: flex;
}

.about-us__blocks-small {
  display: flex;
  flex-direction: column;
}

.about-us__blocks-big {
  background-image: url(../img/about\ us\ men.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  /*width: calc((100% - 32px) / 2);*/
  /*height: 622px; высоту карточкам не задаем!!!*/
  border-radius: 32px;
  margin-right: 35px;
  flex-basis: 108%;
}

.about-us-big-inner {
  display: flex;
  align-items: center;
  padding: 50px 50px 50px 50px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 32px;
  color: var(--color-white);
}

.about-us-big__descr {
  margin: 0;
  margin-right: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-us-big__btn {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 15px 34px 19px 37px;
  border-radius: 16px;
  border: 3px solid var(--color-orange);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.about-us-big__btn:focus-visible {
  background-color: #FFB84D;
  border: #FFB84D;
}

.about-us-big__btn:hover:not(:focus-visible) {
  background-color: #FFB84D;
  border-color: #FFB84D;
}

.about-us-big__btn:active:not(:focus-visible),
.about-us-big__btn:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about-us-big {
  display: flex;
  align-items: center
}

.about-us-small {
  border: 1px solid #CACACA;
  border-radius: 32px;
  background-repeat: no-repeat;
  padding: 65px 112px 63px 295px;
  background-position: left 55px top 64px;
  display: flex;
  flex-direction: column;
}

.about-us-small:not(:last-child) {
  margin-bottom: 32px;
}

.about-us-small__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}


.about-us-small__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.about-us-small-up {
  background-image: url(../img/about\ us\ up.svg);
}

.about-us-small-down {
  background-image: url(../img/about\ us\ down.svg);
}

/*how*/
.how {
  padding-bottom: 50px;
  padding-top: 50px;
}

.how__section-title {
  margin-bottom: 50px;
}

.how-steps {
  display: flex;
  margin-bottom: 45px;
}

.how-step:not(:last-child) {
  margin-right: 86px;
}

.how-step {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}

.how-step:first-child {
  color: #E1670E;
}

.how-step-link {
  transition-property: color, outline;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.how-step-link:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.how-step-link:hover:not(:focus-visible) {
  color: var(--color-orange);
}

.how-step-link:active:not(:focus-visible),
.how-step-link:active {
  color: #E1670E;
}

.how-blocks {
  display: flex;
  flex-direction: row;
  align-items: center
}

.how-left {
  flex-basis: 39%;
  margin-right: auto;
}

.how-right {
  align-self: normal;
}

.how__img {
  object-fit: cover;
}

.how__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  margin-bottom: 8px;
}

.how__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
  min-height: 352px;
}

.how__btn {
  background-color: var(--color-orange);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 38px 20px 39px;
  margin-right: 30px;
  margin-bottom: 32px;
  transition-property: background-color, outline;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.how__btn:focus-visible {
  background-color: #FFB84D;
  outline: #FFB84D;
}

.how__btn:hover:not(:focus-visible) {
  background-color: #FFB84D;
  outline: #FFB84D;
}

.how__btn:active:not(:focus-visible),
.how__btn:active {
  background-color: #E1670E;
  border: #E1670E;
}

.how__btn-doc {
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 21px 37px 19px 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  transition-property: background-color, color, border;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.how__btn-doc:focus-visible {
  background-color: #666666;
  color: var(--color-white);
  border: #666666;
}

.how__btn-doc:hover:not(:focus-visible) {
  background-color: #666666;
  color: var(--color-white);
  border-color: #666666;
}

.how__btn-doc:active:not(:focus-visible),
.how__btn-doc:active {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.how-blocks {
	display: none;
}

.how-blocks--active {
	display: flex;
}

.how-step-link {
  color: var(--color-black);
  }

.how-step-link--active {
  color: #E1670E;
}


/*faq*/

.accordion__item {
  cursor: pointer;
}

.accordion__top {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -1px;
  transition: border-color .3s ease-in-out;
}

.accordion__btn svg {
  cursor: pointer;
  border-radius: 100%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  fill: #CACACA;
  font-size: 40px;
  transition-property: transform;
  transition: .3s ease-in-out;
}

.accordion__btn svg path {
  fill: var(--color-black);
}

.accordion__top h3 {
  transition: color .3s ease-in-out;
}

.accordion__item:active .accordion__btn svg {
  transform: rotate(45deg);
}

.accordion__top:hover, .accordion__top:focus-within {
  color: var(--color-black);
  position: relative;
  z-index: 1;
}

.accordion__top:hover .accordion__btn,
.accordion__top:focus-within .accordion__btn{
  border-color: var(--color-orange);
  outline: none;
}

.accordion__top:hover .accordion__btn svg,
.accordion__top:focus-within .accordion__btn svg{
  background-color: var(--color-orange);
  fill: var(--color-orange);
  color: #fff;
  outline: none;
}

.accordion__top:hover .accordion__btn svg path,
.accordion__top:focus-within .accordion__btn svg path {
  fill: var(--color-white);
}

.accordion__top:hover h3,
.accordion__top:focus-within h3 {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.accordion__top:focus-within {
  outline: 0;
}

/*.accordion__item.is-active .accordion__top {
  border-color: var(--color-orange);
}*/

.accordion__item:focus-within .accordion__top {
  border-color: var(--color-orange);
}

.accordion__item:hover:not(:focus-visible) .accordion__top {
  border-color: var(--color-orange);
}

.accordion__item.is-active .accordion__btn svg {
    transform: rotate(45deg);
    fill: #CACACA;
    color: #fff;
}

.accordion__item.is-active .accordion__top h3 {
  color: var(--color-black);
}

.accordion__item.is-active .accordion__top + .accordion__bottom {
  border-bottom: 1px solid var(--color-orange);
  position: relative;
  z-index: 2;
}

.accordion__item.ac {
  margin: 0;
  border: none;
}

.accordion__bottom {
  line-height: 2;
}

.ac.is-active .ac-panel {
  max-width: 60%;
}



/*.faq {
  padding-bottom: 99px;
  padding-top: 28px;
}

.faq__title {
  margin: 0;
}

.faq__section-title {
  margin-bottom: 32px;
}

.question {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition: border-color .3s ease;
}

.question:first-child .head-icon {
  top: 25%;
}

.question-title {
  margin: 0;
}

.question__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.heading {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color .3s ease;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.question__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 0.3s ease-in-out;
  width: 60%;
}

.open .question__content {
  opacity: 1;
  padding: 20px;
}


.heading1 {
  padding: 41px 120px 40px 0;
}

.heading2 {
  padding: 39px 120px 37px 0;
}

.heading3 {
  padding: 40px 120px 40px 0;
}

.heading4 {
  padding: 37px 120px 40px 0;
}

.heading5 {
  padding: 40px 120px 38px 0;
}

.question:first-child:hover,
.question:hover,
.question:focus-within {
  border-color: var(--color-orange);
}

.question:first-child:active,
.question:active {
  border-color: #CACACA;
}

.head-icon {
  position: absolute;
  top: 25%;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #CACACA;
  transition: background-color .3s, .3s ease-in-out, transform .3s, .3s ease-in-out;
}

.head-icon::before,
.head-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  transition: .3s ease-in-out;
}

.head-icon::before {
  width: 31px;
  height: 1px;
}

.head-icon::after {
  width: 1px;
  height: 31px;
}

.heading:focus-visible {
  color: var(--color-orange);
  outline: none;
}

.heading:hover:not(:focus-visible) {
  color: var(--color-orange);
  outline: none;
}

.heading:active:not(:focus-visible)
.heading:active {
  color: var(--color-black);
  transform: rotate(45deg);
}

.heading:focus-visible .head-icon {
  background-color: var(--color-orange);
}

.heading:hover:not(:focus-visible) .head-icon {
  background-color: var(--color-orange);
}

.heading:active:not(:focus-visible) .head-icon,
.heading:active .head-icon {
  background-color: #CACACA;
  transform: rotate(45deg);
}

.heading:focus-visible .head-icon::before,
.heading:focus-visible .head-icon::after  {
  background-color: var(--color-white);
}

.heading:hover:not(:focus-visible) .head-icon::before,
.heading:hover:not(:focus-visible) .head-icon::after  {
  background-color: var(--color-white);
}

.heading:active:not(:focus-visible) .head-icon::before,
.heading:active:not(:focus-visible) .head-icon::after
.heading:active .head-icon::before,
.heading:active .head-icon::after {
  background-color: var(--color-white);
}*/


/*
.faq__item {
  position: relative;
  padding-right: 75px;
  margin-top: -1px;
  padding: 40px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #CACACA;
  transition: 0.5s ease-in-out;
}

.faq__item:first-child {
  border-top: 1px solid #CACACA;
}

.faq__item:focus-visible,
.faq__title-btn:focus-visible {
  color: var(--color-orange);
}

.faq__item:focus-visible,
.faq__title-btn:focus-visible  {
  border-color: var(--color-orange);
}

.faq__title-btn:hover:not(:focus-visible) {
  color: var(--color-orange);
}

.faq__item:hover:not(:focus-visible) {
  border-color: var(--color-orange);
}

.faq__title-btn:active:not(:focus-visible),
.faq__title-btn:active {
  color: var(--color-black);
}

.faq__item:active:not(:focus-visible),
.faq__item:active {
  border-color: #CACACA;
}

.faq__title-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  transition: 0.5s ease-in-out;
  outline: none;
}

.faq__item svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
}

.faq__item svg ellipse,
.faq__item svg path,
.faq__open {
  transition: .5s ease-in-out;
  cursor: pointer;
}

.faq__item:hover:not(:focus-visible) svg ellipse {
  fill: var(--color-orange);
}

.faq__item:hover:not(:focus-visible) svg path {
  fill: var(--color-white);
}

.faq__item:focus-visible svg ellipse {
  fill: var(--color-orange);
}

.faq__item:focus-visible svg path {
  fill: var(--color-white);
}

.faq__item:active:not(:focus-visible) svg path,
.faq__item:active svg path {
  fill: var(--color-black);
}

.faq__item:active:not(:focus-visible) svg ellipse,
.faq__item:active svg ellipse {
  fill: #CACACA;
}

.faq__open:active:not(:focus-visible) svg,
.faq__open:active svg {
  transform: rotate(45deg);
}*/

/*footer*/
.footer {
  background-color: var(--color-black);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
}

.footer__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  padding-top: 87px;
  margin-right: auto;
  max-width: 363px;
  flex-shrink: 1;
}

.footer__container {
  display: flex;
  flex-direction: row;
}

.footer__logo img {
  margin-bottom: 16px;
  transition: .2s ease-in-out;
}

.footer__logo-link img {
  margin-bottom: 16px;
  cursor: pointer;
}

.footer__nav-list {
  margin-bottom: 90px;
}

.footer__nav {
  /*margin-right: 349px;*/
  min-width: 252px;
  margin-right: auto;
  flex-shrink: 1;
  flex-basis: 34%;
}


.footer__nav-link {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.footer__nav-link:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.footer__nav-link:hover:not(:focus-visible) {
  color: var(--color-orange);
}

.footer__nav-link:active:not(:focus-visible),
.footer__nav-link:active {
  color: #E1670E;
}

.social-icon-ok {
  margin-right: 21px;
}

.social-link svg {
  fill: #666666;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-in-out;
}

.social-link:focus-visible {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
  display: inline-block;
}

.social-link:hover:not(:focus-visible) svg {
  fill: var(--color-orange);
}

.social-link:active:not(:focus-visible) svg,
.social-link:active svg {
  fill: #E1670E;
}

.footer-form {
  margin-right: auto;
  flex-shrink: 1;
  flex-basis: 46%;
}

.form-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin: 0;
  margin-bottom: 23px;
}

.form-input {
  outline: none;
  padding: 14px 24px;
  background-color: #414141;
  border-color: #414141;
  border-radius: 16px;
  width: 570px;
  height: 60px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.form-input:focus-visible {
  background-color: #666666;
  color: var(--color-white);
}

.form-input:hover:not(:focus-visible) {
  background-color: #666666;
  color: var(--color-white);
}

.form-input:active:not(:focus-visible),
.form-input:active {
  background-color: #666666;
  color: var(--color-white);
}

.form-textarea {
  outline: none;
  padding: 14px 24px;
  background-color: #414141;
  border-color: #414141;
  border-radius: 16px;
  width: 570px;
  height: 150px;
  margin-bottom: 29px;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.form-textarea:focus-visible {
  background-color: #666666;
  color: var(--color-white);
}

.form-textarea:hover:not(:focus-visible) {
  background-color: #666666;
  color: var(--color-white);
}

.form-textarea:active:not(:focus-visible),
.form-textarea:active {
  background-color: #666666;
  color: var(--color-white);
}

.form__btn {
  background-color: var(--color-orange);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 19px 51px 17px 54px;
  transition-property: background-color, border;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
  margin-right: 21px;
}

.form__btn:focus-visible {
  background-color: #FFB84D;
  border-color: #FFB84D;
}

.form__btn:hover:not(:focus-visible) {
  background-color: #FFB84D;
}

.form__btn:active:not(:focus-visible),
.form__btn:active {
  background-color: #E1670E;
}


/*
.form-check {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  margin: 0;
}*/

.custom-checkbox {
  cursor: pointer;
  user-select: none;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  width: 14px;
  height: 14px;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.custom-checkbox__input:checked+.custom-checkbox__text::before {
  background-image: url(../img/checkbox.svg);
  background-size: contain;
}

.custom-checkbox__input:focus-visible+.custom-checkbox__text::before {
  outline: 2px solid red;
  outline-offset: 3px;
}

.form__btn-check {
  display: flex;
  align-items: center
}




.burger {
  position: relative;
width: 30px;
height: 20px;
display: none;
border: none;
padding: 0;
background-color: transparent;
cursor: pointer;
}

.burger__line {
  position: absolute;
left: 0;
top: 50%;
width: 30px;
height: 3px;
background-color: var(--color-black);
transform: translateY(-50%);
transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
content: "";
position: absolute;
left: 0;
width: 30px;
height: 3px;
background-color: var(--color-black);
transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
top: 0;
}

.burger::after {
bottom: 0;
}

.stop-scroll {
overflow: hidden;
}

.burger:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}

.burger--active .burger__line {
  background-color: #E1670E;
  transition: 0.3s ease-in-out;
  width: 25px;
  transform: translateX(5px);
}

.burger--active::before {
  background-color: #E1670E;
  transition: 0.3s ease-in-out;
}

.burger--active::after {
  background-color: #E1670E;
  transition: 0.3s ease-in-out;
  width: 18px;
  transform: translateX(12px)
}

/*.burger--active .burger__line {
  opacity: 0;
  }

  .burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  }

  .burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
  }*/











/*...*/
